
<% @events.each do |event| %>
<div id="#event_<%= event.id %>" class="modal event_<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="btn-group btn-group-xs">

          <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
        <h4 class="modal-title" id="gridSystemModalLabel"><%= event.name %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Responsive panel example-->

          <%= render event %>

          <% @comments = Comment.where(:user_id => "#{current_user.id}", :calendar_id => "#{params[:id]}", :event_id => "#{event.id}") %>

          <%= render 'comments/event_comments' %>

          <%= render 'comments/comment_alert' %>

          <% @event = event %>

          <%= render 'comments/comment_form' %>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
