  <div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
<%= form_for @event do |f| %>

<% if @event.errors.any? %>
<% @event.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<%= f.hidden_field :calendar_id, :value => params[:id] %>
<%= f.label :name %>
<%= f.text_field :name, :class => 'form-control' %>
<%= f.label :starting_time %>
<%= f.text_field :starting_time, :class => 'input-group date datetimepicker form-control' %>
<%= f.label :ending_time, :class => 'form=control' %>
<%= f.text_field :ending_time, :class => 'input-group date datetimepicker form-control' %>
<%= f.label :image %>
<%= f.file_field :image, :class => 'form-control' %>
<%= f.submit %>
<% end %>
    </div>
  </div>
