
<div class="container">
<h1>Howdy <%= current_user.username %></h1>

<div class ="row">
  <div class ="col-md-12">
<ul class="media-list">
  <% @events.each do |event| %>
  <li class="media">
    <div class="media-left">
        <img class="media-object" width="64" height="64" src="<%= event.image %>" alt="...">
    </div>

    <div class="media-body">
      <h4 class="media-heading"><strong><%= event.name %></strong> <%= local_time(event.starting_time,"%B %e, %Y at %l:%M%P") %> - <%= local_time(event.ending_time,"%B %e, %Y at %l:%M%P") %></h4>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
      </div>
    </div>
  </li>
  <% end %>
</ul>
</div>
</div>
</div>
