<!-- Validation failure messages -->

<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Event</h3>
      </div>
      <div class="panel-body">
        <form action="/create_event" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for user_id -->


          <!-- Label and input for calendar_id -->


          <div class="form-group">
            <label for="calendar_id" class="col-sm-2 control-label">
            Calendar
            </label>

            <div class="col-sm-10">
              <%= select_tag(:calendar_id, options_from_collection_for_select(Calendar.all, :id, :title, @event.calendar_id), :class => "form-control", :prompt => "choose a calendar to add this event to") %>
            </div>
          </div>

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @event.name %>">
            </div>
          </div>

          <!-- Label and input for starting_time -->
          <div class="form-group">
            <label for="starting_time" class="col-sm-2 control-label">Starting Time</label>
            <div class="col-sm-10">
              <div class="input-group date datetimepicker">
                <input name="starting_time" type="text" class="form-control" id="starting_time">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Label and input for ending_time -->
          <div class="form-group">
            <label for="ending_time" class="col-sm-2 control-label">Ending Time</label>
            <div class="col-sm-10">
              <div class="input-group date datetimepicker">
                <input name="ending_time" type="text" class="form-control" id="ending_time">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @event.description %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Event
              </button>
              or
              <a href="/events">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
