<div class ="col-md-12">
<div class="collapse" id="event_collapse_<%= event.id %>">
          <table class="table">
            <% @activities.each do |activity| %>
            <tr>
              <td>
                <a href="#activity_edit_modal" data-toggle="modal" data-target="#activity_edit_modal"><i class="fa fa-edit"></i></a>
              </td>

              <td>
                <h4><strong><%= activity.name %></strong></h4>
              </td>

              <td>
                <h4><%= local_time(activity.starting_time," from %B %e  at %l:%M%P") %> - <%= local_time(event.ending_time," till %B %e at %l:%M%P") %></h4>
              </td>

              <td>
                <a href="#myModal" data-toggle="modal" data-target="#myModal"<span class="badge"><i class="fa fa-comments-o fa-lg"></i>10</span></a>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
</div>

<%= render partial: '/activities/edit_modal' %>
