<% activity_count = [] %>

<table class="table table-responsive">

  <tr class ="col-md-12">
    <td class="col-md-1">
      <img class="img-circle" width="64" height="64" src="<%= event.image %>" alt="...">
    </td>

    <td class="col-md-3">
      <h3><a href="#event_edit_modal" data-toggle="modal" data-target="#event_edit_modal"><i class="fa fa-edit"></i></a> <%= event.name %></h3>
    </td>

    <td class="col-md-3">
      <h5><%= local_time(event.starting_time,"%B %e, at %l:%M%P") %> - <%= local_time(event.ending_time,"%B %e, at %l:%M%P") %></h5>
    </td>

    <td class="col-md-2">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" data-toggle="collapse" href="#event_collapse_<%= event.id %>" aria-expanded="false" aria-controls="collapseExample">
          <% @activities.each do |activity| %>
          <% activity_count.push activity %>
          <% end %>
          <span class ="badge"><%= activity_count.size  %></span> Activites
        </button>
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#new_activity_collapse_<%= event.id  %>"><i class="fa fa-plus"></i> New Activity</button>
      </div>
    </td>
  </tr>
</table>
