  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <%= form_for (@calendar) do |f| %>
    <% if @calendar.errors.any? %>
    <% @calendar.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
    <% end %>
    <% end %>

        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.submit %>
        <% end %>
    </div>
  </div>


