      <div class ="row">
        <div class ="col-md-12">
          <br>
          <ul class="media-list">
          <% @events = Event.where(:user_id => "#{current_user.id}", :calendar_id => "#{calendar.id}") %>
            <% @events.each do |event| %>
            <% @activities = Activity.where(:user_id => "#{current_user.id}", :event_id => "#{event.id}") %>
            <li class="media">
              <div class="media-left">
                <img class="media-object" width="64" height="64" src="<%= event.image %>" alt="...">
              </div>

              <div class="media-body">
                <h4 class="media-heading"><strong><%= event.name %></strong> <%= local_time(event.starting_time,"%B %e, %Y at %l:%M%P") %> - <%= local_time(event.ending_time,"%B %e, %Y at %l:%M%P") %> <a href="#"><i class="fa fa-edit fa-lg"></i></a></h4>
                <% activity_count = [] %>
                <div class="btn-group" role="group" aria-label="...">

                  <!-- I will need to create a variable href for each button in order to open up a modal of the index of activities for each event -->

                  <button type="button" class="btn btn-default" data-toggle="collapse" href="#event_collapse_<%= event.id %>" aria-expanded="false" aria-controls="collapseExample">
                    <% @activities.each do |activity| %>
                    <% activity_count.push activity %>
                    <% end %>
                    <span class ="badge"><%= activity_count.size  %></span> Activites
                  </button>
                  <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#activity_form_<%= event.id  %>"><i class="fa fa-plus"></i> Activity</button> Next activity in: __ Days __ Hours and __ minutes
                </div>
                <%= render partial: '/events/activity_form', locals: {event: event} %>
                <div class="collapse" id="event_collapse_<%= event.id %>">
                  <ul class="list-group">
                    <% @activities.each do |activity| %>
                    <li class ="list-group-item">
                      <a href="#"><i class="fa fa-edit fa-lg"></i></a>
                      <strong><%= activity.name %></strong> <%= local_time(activity.starting_time," from %B %e  at %l:%M%P") %> - <%= local_time(event.ending_time," till %B %e at %l:%M%P") %>

                      <a href="#myModal" data-toggle="modal" data-target="#myModal"<span class="badge"><i class="fa fa-comments-o fa-lg"></i>10</span></a>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
