
<%= render 'calendar_header' %>

<%= render partial: 'modal' %>

<%= render partial: 'edit_modal' %>

<div class="collapse" id="eventform">
<%= render '/events/form', event: Event.new %>
</div>

<%= render partial: 'share_modal' %>
<br>

  <% events = Event.where(calendar_id: @calendar.id) %>
  <% events.each do |event| %>

    <%= render partial: event, locals: {event: event} %>

    <%= render '/events/edit_modal', event: event %>

    <% activity = Activity.new  %>
    <div class ="col-md-12">
      <div class="collapse" id="new_activity_collapse_<%= event.id %>">
    <%= render 'activities/form', event_id: event.id, activity: activity %>
      </div>
    </div>

    <%= render partial: activity, locals: {event: event} %>

  <% end %>

