
<%= render 'countdown' %>

<%= render partial: 'modal' %>

<%= render partial: 'edit_modal' %>

<% @event = Event.new %>
<div class="collapse" id="eventform">
  <%= render partial: '/events/form' %>
</div>

<%= render partial: 'share_modal' %>
<br>

<% @events = Event.where(:user_id => "#{current_user.id}", :calendar_id => "#{@calendar.id}") %>
<% @events.each do |event| %>

  <% @activities = Activity.where(:user_id => "#{current_user.id}", :event_id => "#{event.id}") %>

  <%= render partial: 'events', locals: {event: event} %>

  <%= render partial: '/events/edit_modal' %>

  <% activity = Activity.new  %>
  <div class ="col-md-12">
    <div class="collapse" id="new_activity_collapse_<%= event.id %>">
    <%= render 'activities/form', activity: activity, event_id: event.id %>
    </div>
  </div>

  <%= render partial: 'activities', locals: {event: event} %>

<% end %>



