
<% @activities.each do |activity| %>
<div id="#activity_<%= activity.id %>" class="modal event_<%= activity.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title text-center" id="gridSystemModalLabel"><%= activity.name %></h1>
          <p class="text-center"><%= local_time(activity.starting_time,"%B %e, %Y at %l:%M%P") %> - <%= local_time(activity.ending_time,"%B %e, %Y at %l:%M%P") %></p>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

        <%= render 'activities/activity_display', :activity => activity %>

        <% @comments = Comment.where(:user_id => "#{current_user.id}", :event_id => "#{params[:id]}", :activity_id => "#{activity.id}") %>

        <%= render 'activities/activity_comments' %>

        <% @activity = activity %>

        <%= render 'comments/comment_alert' %>

        <%= render 'comments/comment_form' %>


          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
