<% comment_count = [] %>

<div class ="col-md-12">
<div class="collapse" id="event_collapse_<%= event.id %>">
          <% activities = Activity.where(event_id: event.id) %>
          <% activities.each do |activity| %>
          <table class="table" id="activity_<%= activity.id %>">
            <tr>
              <td>
                <a href="#activity_edit_modal" data-toggle="modal" data-target="#activity_edit_modal_<%= activity.id %>"><i class="fa fa-edit"></i></a>
                <%= link_to "Delete", activity_path(activity.id), method: :delete, remote: true, :class => 'btn btn-warning' %>
              </td>

              <td>
                <h4><strong><%= activity.name %></strong></h4>
              </td>

              <td>
                <h4><%= local_time(activity.starting_time," from %B %e  at %l:%M%P") %> - <%= local_time(event.ending_time," till %B %e at %l:%M%P") %></h4>
              </td>

              <td>
                <% comments = Comment.where(activity_id: activity.id) %>

                <% comments.each do |comment| %>
                <% comment_count.push comment %>
                <% end %>
                <a href="comments_modal_<%= activity.id %>" data-toggle="modal" data-target="#comments_modal_<%= activity.id %>"<span class="badge"><i class="fa fa-comments-o fa-lg"></i><%= comment_count.size %></span></a>
              </td>
            </tr>
              <%= render 'activities/edit_modal', activity: activity %>
              <%= render '/comments/modal', activity: activity %>

            <% end %>
          </table>
        </div>
</div>

